# Notion
NOTION_API_KEY=secret_xxx
NOTION_DATABASE_ID=xxx

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJxxx
SUPABASE_SECRET_KEY=eyJxxx

# Gemini
GEMINI_API_KEY=AIzaxxx
